numpy>=1.10.0
scipy>=0.19.1
future
nose2>=0.6.5
networkx==2
git+git://github.com/Bernhard10/biopython.git@master#egg=biopython
logging_exceptions>=0.1.8
beautifulsoup4>=4.6
matplotlib==2
ddt
pandas>=0.20
appdirs==1.4
cython
